BASE_URL=''

PROMPT_SYSTEM_OPEN=''
PROMPT_SYSTEM_CLOSE=''

PROMPT_USER_OPEN=''
PROMPT_USER_CLOSE=''

PROMPT_MODEL_OPEN=''
PROMPT_MODEL_CLOSE=''

REASONING_OPEN=''
REASONING_CLOSE=''

PROMPT_STOP_SEQUENCE=''
